In [95]:
import pandas as pd
from datetime import datetime

In [110]:
data=pd.read_csv('final_dataset.csv')

In [97]:
team='Aston Villa'

In [111]:
def prise(team):
    df_home = data.loc[data['HomeTeam'] == team].tail(1)
    df_away = data.loc[data['AwayTeam'] == team].tail(1)
    if  datetime.strptime(str(df_home.Date.values[0]), '%d-%m-%Y')<datetime.strptime(str(df_away.Date.values[0]), '%d-%m-%Y'):
        df=df_away
        X=[float(df.ATP.values),str(df.AM1.values[0]),str(df.AM2.values[0]),str(df.AM3.values[0]),float(df.ATGD.values),float(df.AwayTeamLP.values),float(df.ATFormPts.values)] 
    else:
        df=df_home
        X=[float(df.HTP.values),str(df.HM1.values[0]),str(df.HM2.values[0]),str(df.HM3.values[0]),float(df.HTGD.values),float(df.HomeTeamLP.values),float(df.HTFormPts.values)] 
    return X

In [99]:

# X_Home=prise("Arsenal")
# X_Away=prise("Aston Villa")

In [112]:
def donnee(team1,team2):
    X_Home=prise(team1)
    X_Away=prise(team2)
    X=[X_Home[0],X_Away[0],X_Home[1],X_Home[2],X_Home[3],X_Away[1],X_Away[2],X_Away[3],X_Home[4],X_Away[4],X_Home[6]-X_Away[6],X_Home[5]-X_Away[5]]
    data=[X]
    columns = ['HTP', 'ATP', 'HM1', 'HM2', 'HM3', 'AM1', 'AM2', 'AM3', 'HTGD', 'ATGD', 'DiffFormPts', 'DiffLP']
    df = pd.DataFrame(data, columns=columns)    
    return df

In [113]:
df=donnee("Arsenal","Man United")

In [114]:
df

,HTP,ATP,HM1,HM2,HM3,AM1,AM2,AM3,HTGD,ATGD,DiffFormPts,DiffLP
0,2.357143,1.827586,W,W,W,W,W,W,1.321429,0.172414,0.0,-3.0

In [105]:
df

,HTP,ATP,HM1,HM2,HM3,AM1,AM2,AM3,HTGD,ATGD,DiffFormPts,DiffLP
0,2.357143,1.413793,W,W,W,W,W,W,1.321429,-0.068966,0.0,-6.0